<nav id="settings" class="d-flex flex-row justify-content-between">

   <span class="nav-settings-item d-flex flex-row align-items-center">
      <% const isSelectedCurrency=(code)=>{if(currency.code==code)return 'selected'} %>


         <div class="custom-select-wrapper">
            <div class="custom-select">
               <div class="custom-select__trigger"><span>
                     <%= `${currency.code} (${currency.symbol})` %>
                  </span>
                  <div class="arrow"></div>
               </div>
               <div class="custom-options slim-scrollbar">


                  <a href="/currency?code=AED&symbol=د.إ.&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`AED`) %> link-dark no-underline custom-option">
                        AED (د.إ.)</option>

                     <a href="/currency?code=AUD&symbol=A$&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`AUD`) %> link-dark no-underline custom-option">
                     AUD (A$)</a>

                  <a href="/currency?code=BGN&symbol=лв&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`BGN`) %> link-dark no-underline custom-option">
                        BGN (лв)</a>

                     <a href="/currency?code=BRL&symbol=R$&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`BRL`) %> link-dark no-underline custom-option">
                     BRL (R$)</a>

                  <a href="/currency?code=CAD&symbol=C$&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`CAD`) %> link-dark no-underline custom-option">
                        CAD (C$)</a>

                     <a href="/currency?code=CHF&symbol=CHF&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`CHF`) %> link-dark no-underline custom-option">
                     CHF (CHF)</a>

                  <a href="/currency?code=CNY&symbol=¥&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`CNY`) %> link-dark no-underline custom-option">
                        CNY (¥)</a>

                     <a href="/currency?code=CZK&symbol=Kč&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`CZK`) %> link-dark no-underline custom-option">
                     CZK (Kč)</a>

                  <a href="/currency?code=DKK&symbol=kr&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`DKK`) %> link-dark no-underline custom-option">
                        DKK (kr)</a>

                     <a href="/currency?code=EUR&symbol=€&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`EUR`) %> link-dark no-underline custom-option">
                     EUR (€)</a>

                  <a href="/currency?code=GBP&symbol=£&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`GBP`) %> link-dark no-underline custom-option">
                        GBP (£)</a>

                     <a href="/currency?code=HKD&symbol=HK$&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`HKD`) %> link-dark no-underline custom-option">
                     HKD (HK$)</a>

                  <a href="/currency?code=HRK&symbol=kn&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`HRK`) %> link-dark no-underline custom-option">
                        HRK (kn)</a>

                     <a href="/currency?code=HUF&symbol=Ft&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`HUF`) %> link-dark no-underline custom-option">
                     HUF (Ft)</a>

                  <a href="/currency?code=IDR&symbol=Rp&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`IDR`) %> link-dark no-underline custom-option">
                        IDR (Rp)</a>

                     <a href="/currency?code=ILS&symbol=₪&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`ILS`) %> link-dark no-underline custom-option">
                     ILS (₪)</a>

                  <a href="/currency?code=INR&symbol=₹&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`INR`) %> link-dark no-underline custom-option">
                        INR (₹)</a>

                     <a href="/currency?code=ISK&symbol=kr&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`ISK`) %> link-dark no-underline custom-option">
                     ISK (kr)</a>

                  <a href="/currency?code=JPY&symbol=¥&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`JPY`) %> link-dark no-underline custom-option">
                        JPY (¥)</a>

                     <a href="/currency?code=KRW&symbol=₩&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`KRW`) %> link-dark no-underline custom-option">
                     KRW (₩)</a>

                  <a href="/currency?code=MXN&symbol=$&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`MXN`) %> link-dark no-underline custom-option">
                        MXN ($)</a>

                     <a href="/currency?code=MYR&symbol=MR&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`MYR`) %> link-dark no-underline custom-option">
                     MYR (MR)</a>

                  <a href="/currency?code=NOK&symbol=kr&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`NOK`) %> link-dark no-underline custom-option">
                        NOK (kr)</a>

                     <a href="/currency?code=NZD&symbol=NZ$&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`NZD`) %> link-dark no-underline custom-option">
                     NZD (NZ$)</a>

                  <a href="/currency?code=PLN&symbol=zł&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`PLN`) %> link-dark no-underline custom-option">
                        PLN (zł)</a>

                     <a href="/currency?code=PHP&symbol=₱&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`PHP`) %> link-dark no-underline custom-option">
                     PHP (₱)</a>

                  <a href="/currency?code=RON&symbol=L&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`RON`) %> link-dark no-underline custom-option">
                        RON (L)</a>

                     <a href="/currency?code=RUB&symbol=₽&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`RUB`) %> link-dark no-underline custom-option">
                     RUB (₽)</a>

                  <a href="/currency?code=SEK&symbol=kr&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`SEK`) %> link-dark no-underline custom-option">
                        SEK (kr)</a>

                     <a href="/currency?code=SGD&symbol=S$&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`SGD`) %> link-dark no-underline custom-option">
                     SGD (S$)</a>

                  <a href="/currency?code=USD&symbol=$&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`USD`) %> link-dark no-underline custom-option">
                        USD ($)</a>

                     <a href="/currency?code=THB&symbol=฿&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`THB`) %> link-dark no-underline custom-option">
                     THB (฿)</a>

                  <a href="/currency?code=TRY&symbol=₺&currentPage=<%=
                        url.replace(/&/g,'"') %>" class="<%=isSelectedCurrency(`TRY`) %> link-dark no-underline custom-option">
                        TRY (₺)</a>

                     <a href="/currency?code=ZAR&symbol=R&currentPage=<%=
                        url.replace(/&/g,'"') %>"
                     class="<%=isSelectedCurrency(`ZAR`) %> link-dark no-underline custom-option">
                     ZAR (R)</a>
               </div>
            </div>
         </div>


         <a href="https://steamcommunity.com/groups/kontrakciarze" target="_blank">
            <img class="icons" src="/assets/social/steam.png" alt="Link to our steam group">
         </a>
         <% if(currentUser && currentUser.steam!=null){ %>
            <!-- IDK WHERHER OR NOT IT SUPPORTS CUSTOM PROFILE LINKS -->
            <a href="https://steamcommunity.com/profiles/<%= currentUser.steam.id %>/" target="_blank"
               class="link-light no-underline d-flex flex-row">
               <img src="<%= currentUser.steam.avatar  %> " alt="Your Avatar Image" class="icons">
               <p class="link-light ms-2 w-max-content mb-0">
                  <%= currentUser.username %>
               </p>
            </a>

            <% } else if(currentUser){ %>
               <p class="link-light ms-2 w-max-content mb-0">
                  <%= currentUser.username %>
               </p>
               <% } %>



   </span>

   <span class="nav-settings-item">
      <!-- SELECTING THEMS WILL BE POSSIBLY DEVELOPED LATER ON -->
      <!-- <select name="theme-mode" id="theme-mode" class="form-select width-fit-content nav-settings-item">
         <option value="dark">Dark Mode</option>
         <option value="light">Light Mode</option>
         <option value="random">Random Theme</option>
      </select> -->
      <% if(currentUser ){ %>
         <a href="/managment" class="managment ms-2">
            <img src="/assets/svgs/other/gear-fill.svg" alt="Managment" class="icons"></a>
         <% } %>
   </span>

</nav>

<nav id="navbar" class="sticky-top navbar navbar-expand-md navbar-dark nav-gradient">
   <div id="menuToggle" class="container-fluid d-flex align-items-center">
      <a class="navbar-brand m-0 p-0" href="/" aria-current="page">TradeUpFinder</a>


      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
               aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->

      <button class="navbar-toggler border-0 collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
         aria-label="Toggle navigation">
         <input class="navbar-checkbox" type="checkbox">
         <span class="mt-1"></span>
         <span></span>
         <span></span>
      </button>


      <!-- <span class="navbar-toggler-icon"></span>
            </button> -->
      <div class="navbar-collapse  collapse" id="navbarNavAltMarkup">

         <ul class="navbar-nav mt-4 mt-md-0 d-flex justify-content-md-end" id="navbarLinks">

            <% if(!currentUser){ %>

               <li class="nav-item "><a href="/auth/steam" class="steamLink m-0 me-md-3"></a></li>

               <% } %>


                  <li class="nav-item"><a href="/guide" class="px-2 link-light">Guide</a></li>
                  <li class="nav-item"><a href="/about#contact" class="px-2 link-light">Contact Us</a></li>
                  <li class="nav-item"><a href="/explore" class="px-2 link-light">Explore</a></li>
                  <li class="nav-item"><a href="/favourites" class="px-2 link-light">Favourites</a></li>

                  <% if (currentUser && (currentUser.role=='admin' || currentUser.role=='moderator' )) { %>
                     <li class="nav-item"><a href="/skins/database" class="px-2 link-light">Database</a></li>
                     <% } %>

                        <% if(!currentUser){ %>
                           <li class="nav-item">
                              <a href="/user/login" class="ms-0 ms-md-3 me-md-1 px-2 link-light">Login</a>
                           </li>
                           <li class="nav-item">
                              <a href="/user/register"
                                 class="m-0 my-2 my-md-0 px-2 py-1 link-light   border-md-log rounded">Register</a>
                           </li>
                           <% } else{%>

                              <li class="nav-item">
                                 <a href="/user/logout"
                                    class="m-0 my-2 my-md-0 px-2 py-1 link-light border-md-log rounded ">Logout</a>
                              </li>
                              <% } %>


         </ul>
      </div>
   </div>
   <!-- <input type="color" name="color1" id="colorInputFormBg">
   <input type="color" name="color2" id="colorInputSkinCardBg">
   <input type="color" name="color3" id="colorInputSkinIndicatorsBg">
   <input type="color" name="color4" id="colorInputSkinIndicatorsTextColor">
   <input type="color" name="color5" id="colorInputBorderColor">
   <input type="color" name="color6" id="bodyColor"> -->
</nav>


<!-- <script>
   const colorInputFormBg = document.querySelector('#colorInputFormBg');
   const colorInputSkinCardBg = document.querySelector('#colorInputSkinCardBg');
   const colorInputSkinIndicatorsBg = document.querySelector('#colorInputSkinIndicatorsBg');
   const colorInputSkinIndicatorsTextColor = document.querySelector('#colorInputSkinIndicatorsTextColor');
   const bodyColor = document.querySelector('#bodyColor');
   const colorInputBorderColor = document.querySelector('#colorInputBorderColor');

   colorInputFormBg.addEventListener('input', () => { document.documentElement.style.setProperty('--tradeShow-form-bg', colorInputFormBg.value); })
   colorInputSkinCardBg.addEventListener('input', () => { document.documentElement.style.setProperty('--tradeShow-skinCard-bg', colorInputSkinCardBg.value); })
   colorInputSkinIndicatorsBg.addEventListener('input', () => { document.documentElement.style.setProperty('--tradeShow-skinCard-indicators-bg', colorInputSkinIndicatorsBg.value); })
   colorInputSkinIndicatorsTextColor.addEventListener('input', () => { document.documentElement.style.setProperty('--tradeShow-skinCard-indicators-text-color', colorInputSkinIndicatorsTextColor.value); })
   colorInputBorderColor.addEventListener('input', () => { document.documentElement.style.setProperty('--tradeShow-border-color', colorInputBorderColor.value); })
   bodyColor.addEventListener('input', () => { document.documentElement.style.setProperty('--body-bg', bodyColor.value); })
</script> -->
<!-- <div class="navbarSpace d-none"></div> -->