<nav id="settings" class="d-flex flex-row justify-content-between">

   <span class="nav-settings-item">
      <% const isSelectedCurrency=(code)=>{if(currency.code==code)return 'SELECTED'} %>
         <select name="currency-menu" id="currency-menu" class="form-select width-fit-content nav-settings-item"
            onchange="location=this.value">

            <option <%=isSelectedCurrency('AED') %> value="/currency?code=AED&symbol=د.إ.&currentPage=<%=
                  url.replace(/&/g,'"') %>">AED
                  (د.إ.)</option>

            <option <%=isSelectedCurrency('AUD') %> value="/currency?code=AUD&symbol=A$&currentPage=<%=
                  url.replace(/&/g,'"') %>">AUD
                  (A$)</option>

            <option <%=isSelectedCurrency('BGN') %> value="/currency?code=BGN&symbol=лв&currentPage=<%=
                  url.replace(/&/g,'"') %>">BGN
                  (лв)</option>

            <option <%=isSelectedCurrency('BRL') %> value="/currency?code=BRL&symbol=R$&currentPage=<%=
                  url.replace(/&/g,'"') %>">BRL
                  (R$)</option>

            <option <%=isSelectedCurrency('CAD') %> value="/currency?code=CAD&symbol=C$&currentPage=<%=
                  url.replace(/&/g,'"') %>">CAD
                  (C$)</option>

            <option <%=isSelectedCurrency('CHF') %> value="/currency?code=CHF&symbol=CHF&currentPage=<%=
                  url.replace(/&/g,'"') %>">CHF
                  (CHF)</option>

            <option <%=isSelectedCurrency('CNY') %> value="/currency?code=CNY&symbol=¥&currentPage=<%=
                  url.replace(/&/g,'"') %>">CNY
                  (¥)</option>

            <option <%=isSelectedCurrency('CZK') %> value="/currency?code=CZK&symbol=Kč&currentPage=<%=
                  url.replace(/&/g,'"') %>">CZK
                  (Kč)</option>

            <option <%=isSelectedCurrency('DKK') %> value="/currency?code=DKK&symbol=kr&currentPage=<%=
                  url.replace(/&/g,'"') %>">DKK
                  (kr)</option>

            <option <%=isSelectedCurrency('EUR') %> value="/currency?code=EUR&symbol=€&currentPage=<%=
                  url.replace(/&/g,'"') %>">EUR
                  (€)</option>

            <option <%=isSelectedCurrency('GBP') %> value="/currency?code=GBP&symbol=£&currentPage=<%=
                  url.replace(/&/g,'"') %>">GBP
                  (£)</option>

            <option <%=isSelectedCurrency('HKD') %> value="/currency?code=HKD&symbol=HK$&currentPage=<%=
                  url.replace(/&/g,'"') %>">HKD
                  (HK$)</option>

            <option <%=isSelectedCurrency('HRK') %> value="/currency?code=HRK&symbol=kn&currentPage=<%=
                  url.replace(/&/g,'"') %>">HRK
                  (kn)</option>

            <option <%=isSelectedCurrency('HUF') %> value="/currency?code=HUF&symbol=Ft&currentPage=<%=
                  url.replace(/&/g,'"') %>">HUF
                  (Ft)</option>

            <option <%=isSelectedCurrency('IDR') %> value="/currency?code=IDR&symbol=Rp&currentPage=<%=
                  url.replace(/&/g,'"') %>">IDR
                  (Rp)</option>

            <option <%=isSelectedCurrency('ILS') %> value="/currency?code=ILS&symbol=₪&currentPage=<%=
                  url.replace(/&/g,'"') %>">ILS
                  (₪)</option>

            <option <%=isSelectedCurrency('INR') %> value="/currency?code=INR&symbol=₹&currentPage=<%=
                  url.replace(/&/g,'"') %>">INR
                  (₹)</option>

            <option <%=isSelectedCurrency('ISK') %> value="/currency?code=ISK&symbol=kr&currentPage=<%=
                  url.replace(/&/g,'"') %>">ISK
                  (kr)</option>

            <option <%=isSelectedCurrency('JPY') %> value="/currency?code=JPY&symbol=¥&currentPage=<%=
                  url.replace(/&/g,'"') %>">JPY
                  (¥)</option>

            <option <%=isSelectedCurrency('KRW') %> value="/currency?code=KRW&symbol=₩&currentPage=<%=
                  url.replace(/&/g,'"') %>">KRW
                  (₩)</option>

            <option <%=isSelectedCurrency('MXN') %> value="/currency?code=MXN&symbol=$&currentPage=<%=
                  url.replace(/&/g,'"') %>">MXN
                  ($)</option>

            <option <%=isSelectedCurrency('MYR') %> value="/currency?code=MYR&symbol=MR&currentPage=<%=
                  url.replace(/&/g,'"') %>">MYR
                  (MR)</option>

            <option <%=isSelectedCurrency('NOK') %> value="/currency?code=NOK&symbol=kr&currentPage=<%=
                  url.replace(/&/g,'"') %>">NOK
                  (kr)</option>

            <option <%=isSelectedCurrency('NZD') %> value="/currency?code=NZD&symbol=NZ$&currentPage=<%=
                  url.replace(/&/g,'"') %>">NZD
                  (NZ$)</option>

            <option <%=isSelectedCurrency('PLN') %> value="/currency?code=PLN&symbol=zł&currentPage=<%=
                  url.replace(/&/g,'"') %>">PLN
                  (zł)</option>

            <option <%=isSelectedCurrency('PHP') %> value="/currency?code=PHP&symbol=₱&currentPage=<%=
                  url.replace(/&/g,'"') %>">PHP
                  (₱)</option>

            <option <%=isSelectedCurrency('RON') %> value="/currency?code=RON&symbol=L&currentPage=<%=
                  url.replace(/&/g,'"') %>">RON
                  (L)</option>

            <option <%=isSelectedCurrency('RUB') %> value="/currency?code=RUB&symbol=₽&currentPage=<%=
                  url.replace(/&/g,'"') %>">RUB
                  (₽)</option>

            <option <%=isSelectedCurrency('SEK') %> value="/currency?code=SEK&symbol=kr&currentPage=<%=
                  url.replace(/&/g,'"') %>">SEK
                  (kr)</option>

            <option <%=isSelectedCurrency('SGD') %> value="/currency?code=SGD&symbol=S$&currentPage=<%=
                  url.replace(/&/g,'"') %>">SGD
                  (S$)</option>

            <option <%=isSelectedCurrency('USD') %> value="/currency?code=USD&symbol=$&currentPage=<%=
                  url.replace(/&/g,'"') %>">USD
                  ($)</option>

            <option <%=isSelectedCurrency('THB') %> value="/currency?code=THB&symbol=฿&currentPage=<%=
                  url.replace(/&/g,'"') %>">THB
                  (฿)</option>

            <option <%=isSelectedCurrency('TRY') %> value="/currency?code=TRY&symbol=₺&currentPage=<%=
                  url.replace(/&/g,'"') %>">TRY
                  (₺)</option>

            <option <%=isSelectedCurrency('ZAR') %> value="/currency?code=ZAR&symbol=R&currentPage=<%=
                  url.replace(/&/g,'"') %>">ZAR
                  (R)</option>

         </select>


         <a href="https://steamcommunity.com/groups/kontrakciarze" target="_blank" class="icons social-steam-icon"></a>
         <% if(currentUser && currentUser.steam!=null){ %>
            <!-- IDK WHERHER OR NOT IT SUPPORTS CUSTOM PROFILE LINKS -->
            <a href="https://steamcommunity.com/profiles/<%= currentUser.steam.id %>/" target="_blank"
               class="link-light no-underline d-flex flex-row">
               <img src="<%= currentUser.steam.avatar  %> " alt="Your Avatar Image" class="icons">
               <p class="ms-2">
                  <%= currentUser.username %>
               </p>
            </a>
            <% } else if(currentUser){ %>
               <p class="link-light ms-2">
                  <%= currentUser.username %>
               </p>
               <% } %>

   </span>

   <span class="nav-settings-item">
      <select name="theme-mode" id="theme-mode" class="form-select width-fit-content nav-settings-item">
         <option value="dark">Dark Mode</option>
         <option value="light">Light Mode</option>
         <option value="random">Random Theme</option>
      </select>
      <% if(currentUser && (currentUser.role=='admin' || currentUser.role=='moderator' ) ){ %>
         <a href="/managment" class="managment ms-2">
            <img src="/assets/svgs/other/gear-fill.svg" alt="Managment" class="icons"></a>
         <% } %>
   </span>

</nav>

<nav id="navbar" class=" navbar navbar-expand-md navbar-dark nav-gradient">
   <div id="menuToggle" class="container-fluid d-flex align-items-center">
      <a class="navbar-brand m-0 p-0" href="/" aria-current="page">Kontrakciarze</a>


      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
               aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> -->

      <button class="navbar-toggler border-0 collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
         aria-label="Toggle navigation">
         <input class="navbar-checkbox" type="checkbox">
         <span class="mt-1"></span>
         <span></span>
         <span></span>
      </button>


      <!-- <span class="navbar-toggler-icon"></span>
            </button> -->
      <div class="navbar-collapse  collapse" id="navbarNavAltMarkup">

         <ul class="navbar-nav mt-4 mt-md-0 d-flex justify-content-md-end" id="navbarLinks">

            <% if(!currentUser){ %>

               <li class="nav-item "><a href="/auth/steam" class="steamLink m-0 me-md-3"></a></li>

               <% } %>


                  <li class="nav-item"><a href="/about" class="px-2 link-light">Contact Us</a></li>
                  <li class="nav-item"><a href="/explore" class="px-2 link-light">Explore</a></li>
                  <li class="nav-item"><a href="/favourites" class="px-2 link-light">Favourites</a></li>
                  <li class="nav-item"><a href="/skins/database" class="px-2 link-light">Database</a></li>

                  <% if(!currentUser){ %>
                     <li class="nav-item"><a href="/user/login" class="ms-0 ms-md-3 me-md-1 px-2 link-light">Login</a>
                     </li>
                     <li class="nav-item"><a href="/user/register"
                           class="m-0 my-2 my-md-0 px-2 py-1 link-light border border-white border-2 rounded width-fit-content">Register</a>
                     </li>
                     <% } else{%>

                        <li class="nav-item"><a href="/user/logout"
                              class="m-0 my-2 my-md-0 px-2 py-1 link-light border border-white border-2 rounded ">Logout</a>
                        </li>
                        <% } %>


         </ul>
      </div>
   </div>


</nav>