<a href="<%= link %>" class="h-100  mx-3 no-underline">
   <div class="lift-on-hover card my-1 rounded-3 overflow-hidden" style="width: 7rem;">
      <img loading="lazy" src="<%= imgSrc %>" class="card-img-top" alt="<%= partnerName %>">
      <div class="card-body py-2 d-flex flex-column justify-content-center bg-dark">
         <h5 class="card-title text-center lead text-light mb-0 d-flex flex-column align-items-center">
            <%= partnerName %>
               <img class="my-1" width="20" src="https://flagcdn.com/w20/<%= countryCode %>.png" alt="">
         </h5>
      </div>
   </div>
</a>