<div class="card skin-card">




   <% if(type=='output-skin' ){ %>
      <div class="skin-card-float skin-card-float-left border border-1">
         <%= float %>
      </div>
      <div class="skin-card-chances  border border-1">
         <%= Math.round(amount/profit.instance.targetedSkinsNumber*100 *100)/100 %>%

      </div>

      <span class="targetedSkinsArr-amount d-none">
         <%= amount %>
      </span>
      <% } else if( type=='alternate-skin-checkbox' ){%>
         <div class="skin-card-float border border-1">
            <%= float %>
         </div>
         <span class="alternateSkin-amount d-none">
            <%= amount %>
         </span>
         <% }else if(type=='input-skin' ){ %>
            <input id="<%= sn %>float:<%= _id %>" name="<%= sn %>float:<%= _id %>" type="number"
               class="form-control text-center skin-card-float skin-card-float-left border border-1 box-shadow-inset"
               value="<%= float %>" step="0.01" min="0.01" required>
            <!-- <div class="skin-card-float skin-card-float-left border border-1">
               <%= float %>
            </div> -->
            <!-- <div class="skin-card-number border border-1">
               <%= sn %>
            </div> -->
            <% } %>


               <a target="_blank" href="<%= link %>">
                  <img class="card-img-top skin-card-img" src="<%= icon %> " alt="<%= label %>">
               </a>
               <label for="<%= _id %>" class="text-center skin-card-label">
                  <%= label %>
               </label>
               <% if(type=='input-skin' ){ %>

                  <input id="<%= sn %><%= _id %>" value="<%= price %>" type="number" name="<%= sn %><%= _id %>"
                     class="form-control box-shadow-inset <%= type %> text-center mt-1" step="0.01" min="0.01" required>
                  <% }else if( type=='output-skin' ) {%>

                     <input id="<%= _id %>" value="<%= price %>" type="number" name="<%= _id %>"
                        class="form-control box-shadow-inset <%= type %> text-center mt-1" step="0.01" min="0.01"
                        required>

                     <% }else if(type=='alternate-skin-checkbox' ){ %>

                        <input class="btn-check" type="checkbox" value="<%= value %>" id="<%= _id %>"
                           autocomplete="off">
                        <label for="<%= _id %>"
                           class="btn btn-outline-primary btn-checkbox text-center form-label mb-0 mt-1">
                           <%= `${price}${symbol}` %>
                        </label>
                        <% }else if(type=='alternate-skin' ){ %>
                           <label for="<%= _id %>" class="text-center form-label mb-0 mt-1">
                              <%= `${price}${symbol}` %>
                           </label>
                           <% } %>
</div>