<div class="stats-item">
   <div class="stats-item-title <%= bg %> ">
      <%=statsTitle%>
   </div>
   <div class="stats-item-value <%= className %> <%= bg %> ">
      <span class="content">
         <%=statsValue%>
      </span>
      <span class="symbol ms-1">
         <%= symbol %>
      </span>
   </div>
</div>