<section class="my-4 p-3 trade rounded border container bg-<%= trade.rarity.replace('_','') %>">


   <!-- COLLECTIONS DATA -->
   <section class="d-flex justify-content-between">
      <div class="col-9">
         <div>
            <%= profit.instance.avg %>
               <%= trade.rarity %>
                  [<%= trade.firstSkin.case %> + <%= trade.secondSkin.case %>] => [<%= trade.targetedSkin.case%>]
         </div>
         <div>
            <div>
               Search name : <%= profit.name %>
            </div>
            <div>
               Price correction : <%= Math.round(profit.priceCorrection*currency.multiplier*100)*100 %>
                  <%= currency.symbol %>
            </div>
            <% if(profit.pricesType=='stattrakPrices' ){ %>
               <div class="stattrak mt-3">
                  StatTrak™
               </div>
               <% } %>
         </div>
      </div>

      <% if (isFavouriteShowPage ) { %>
         <span class="d-flex flex-row justify-content-end col-3">

            <%- include('../partials/tradeManaging',{trade:profit.orginalTrade})%>
         </span>

         <% }else{ %>
            <span class="d-flex flex-row justify-content-end col-3">

               <%- include('../partials/tradeManaging',{trade:profit})%>
            </span>

            <% } %>


   </section>


   <!-- TRADE -->
   <section class="mt-4 mb-2  d-flex flex-column">
      <!-- INPUT PRICE -->
      <h5 class="col-12 d-flex justify-content-center input-price">
         (<%= Math.round(trade.inputPrice*currency.multiplier*100)/100 %>
            <%= currency.symbol %>)
      </h5>

      <div class="row">
         <a class="link-dark mb-1 d-flex col-12 justify-content-center skin first" data-bs-toggle="tooltip"
            data-bs-placement="right" title="See on the market" href="<%= trade.firstSkinUrl %>" target="_blank">
            <%= profit.amount.amount1 %>x
               [<%= trade.firstQuality %>]
                  [<%= trade.firstSkinAvgFloat %>]
                     <span class="first-price mx-1">
                        (<%=Math.round(trade.firstPrice*currency.multiplier*100) /100%>
                           <%= currency.symbol %>)
                     </span> -
                     <% if(profit.pricesType=='stattrakPrices' ){ %>
                        StatTrak™
                        <% } %>
                           <%= trade.firstSkin.name %>
                              <%= trade.firstSkin.skin %>
         </a>

         <a class="link-dark d-flex col-12 justify-content-center skin second" data-bs-toggle="tooltip"
            data-bs-placement="right" title="See on the market" href="<%= trade.secondSkinUrl %>" target="_blank">
            <%= profit.amount.amount2 %>x
               [<%= trade.secondQuality %>]
                  [<%= trade.secondSkinAvgFloat %>]
                     <span class="second-price mx-1">
                        (<%=Math.round(trade.secondPrice*currency.multiplier*100) /100 %>
                           <%= currency.symbol %>)
                     </span> -
                     <% if(profit.pricesType=='stattrakPrices' ){ %>
                        StatTrak™
                        <% } %>
                           <%= trade.secondSkin.name %>
                              <%= trade.secondSkin.skin %>
         </a>


         <div class="arrow mx-auto my-3"></div>

         <a class="link-dark d-flex col-12 justify-content-center  skin output" data-bs-toggle="tooltip"
            data-bs-placement="right" title="See on the market" href="<%= trade.targetedSkinUrl %>" target="_blank">
            [<%= trade.targetedQuality %>]
               [<%= trade.targetedSkinFloat %>] -
                  <% if(profit.pricesType=='stattrakPrices' ){ %>
                     StatTrak™
                     <% } %>
                        <%= trade.targetedSkin.name %>
                           <%= trade.targetedSkin.skin %>
                              <span class="targeted-price">
                                 &nbsp;(<%=Math.round(trade.targetedPrice*currency.multiplier*100) /100 %>
                                    <%= currency.symbol %>)
                              </span>
         </a>

      </div>
   </section>

   <!-- STATS -->
   <section class="stats col-12 col-lg-6 offset-lg-3 d-flex flex-column ">

      <div class="d-flex flex-row col-12 mt-auto data text-white">
         <div class="d-flex  py-2 w-100 justify-content-center align-items-center bg-primary profit-per-tradeup">
            <%= Math.round(trade.profitPerTradeUp*currency.multiplier*100)/100 %>
               <%= currency.symbol %>
         </div>
         <div class="d-flex  py-2 w-100 justify-content-center align-items-center bg-success return-percentage">
            <%= trade.returnPercentage %>%
         </div>
         <div class="d-flex  py-2 w-100 justify-content-center align-items-center bg-danger positive-chance">
            <%= Math.round(profit.instance.wantedOutputChance/profit.instance.targetedSkinsNumber*100*100)/100%>
               %
         </div>
      </div>

   </section>

   <!-- UPDATE FORM -->
   <section class="col-12 d-flex justify-content-center my-3">

      <% if (isFavouriteShowPage) { %>

         <form action="/favourites/<%= profit._id %>/edit" method="POST" <% }else{ %>
            <form action="/trades/<%= profit._id %>" method="POST" <% } %>

               class="recheck-form d-flex flex-column align-items-center">
               <h5>Inputs:</h5>
               <div class="d-flex flex-row">
                  <div class="form-group">
                     <label for="firstPriceForm<%= profit._id %>">
                        <%= trade.firstSkin.name %>'s' new price
                     </label>
                     <input id="firstPriceForm<%= profit._id %>" type="number" name="firstPrice"
                        alt="<%= `${trade.firstSkin.name} | ${trade.firstSkin.skin} (${trade.firstQuality})` %>"
                        value="<%= Math.round(trade.firstPrice*currency.multiplier*100)/100  %>" class="form-control"
                        step="0.01">
                  </div>

                  <div class="form-group">
                     <label for="secondPriceForm<%= profit._id %>">
                        <%= trade.secondSkin.name %>'s' new price
                     </label>
                     <input id="secondPriceForm<%= profit._id %>" type="number" name="secondPrice"
                        alt="<%= `${trade.secondSkin.name} | ${trade.secondSkin.skin} (${trade.secondQuality})` %>"
                        value="<%= Math.round(trade.secondPrice*currency.multiplier*100)/100 %>" class="form-control"
                        step="0.01">
                  </div>
               </div>
               <h5 class="mt-3">Outputs:</h5>

               <div class="d-flex flex-row flex-wrap justify-content-center">
                  <% for(let targetedSkin of trade.targetedSkinsArr){ %>
                     <div class="form-group">
                        <label for="<%= profit._id %><%= targetedSkin._id %>">
                           <div>
                              <%= targetedSkin.name %>
                           </div>
                           <div>
                              <%= targetedSkin.skin %>
                           </div>
                        </label>
                        <input id="<%= profit._id %><%= targetedSkin._id %>" type="number"
                           name="<%= targetedSkin._id %>"
                           alt="<%= `${targetedSkin.name} | ${targetedSkin.skin} (${targetedSkin.quality})` %>"
                           value="<%= Math.round(targetedSkin.price/0.87*currency.multiplier*100)/100 %>"
                           class="form-control" step="0.01">
                     </div>
                     <% } %>
               </div>

               <button class="btn btn-success w-100">RECHECK</button>
            </form>
   </section>

   <!-- HELP SKINS -->
   <section class="d-flex flex-column flex-lg-row col-12 mt-3 mb-2">

      <!-- ALTERNATE INPUTS -->
      <div class="col-12 col-lg-6">
         <h6 class="d-flex my-2">ALTERNATE INPUTS:</h6>

         <form class="code-for-bot"
            id="<%= `${trade.firstSkin.name}${trade.firstSkin.skin}${trade.secondSkin.name}${trade.secondSkin.name}` %>">

            <ul class="list-unstyled">
               <% for(let alternateSkin of trade.alternateInputSkins){ %>

                  <li class="d-flex form-check align-items-center">

                     <!-- BOT PRICES WORKS FOR PLN -->
                     <input class="form-check-input me-3" type="checkbox"
                        value="<%= alternateSkin.amount %>_<%= alternateSkin.float %>_<%= alternateSkin.botPrice%>_<%= alternateSkin.url %>"
                        name="<%= alternateSkin.url %>"
                        id="<%= `${trade.firstSkin.name}${trade.firstSkin.skin}${trade.secondSkin.name}${trade.secondSkin.name}${alternateSkin.url}`%>">
                     <label class="form-check-label me-3 py-1 crosshair"
                        for="<%= `${trade.firstSkin.name}${trade.firstSkin.skin}${trade.secondSkin.name}${trade.secondSkin.name}${alternateSkin.url}`%>">
                        <%=alternateSkin.collectionName %>
                     </label>
                     <a class="link-dark" target="_blank" title="See on the market" href="<%= alternateSkin.url  %>">
                        <% if(profit.pricesType=='stattrakPrices' ){ %>

                           <%=`[${alternateSkin.quality}] - StatTrak™ ${alternateSkin.name} ${alternateSkin.skin} - (${
                              Math.round(alternateSkin.price*currency.multiplier*100)/100})`%>

                              <% }else{ %>
                                 <%=`[${alternateSkin.quality}] - ${alternateSkin.name} ${alternateSkin.skin} - (${
                                    Math.round(alternateSkin.price*currency.multiplier*100)/100})`%>
                                    <% } %>
                     </a>
                  </li>

                  <% } %>
            </ul>
            <button type="submit" class="btn btn-primary">Generate Bot's Code</button>
         </form>
      </div>

      <!-- OUTPUTS -->
      <div class="outputs col-12 col-lg-6">
         <h6 class="d-flex my-2">OUTPUTS:</h6>
         <ul class="list-unstyled">
            <% for(let t=0;t<trade.targetedSkinsArr.length;t++){ %>
               <li class="d-flex mb-1">
                  <a class="link-dark" target="_blank" title="See on the market"
                     href="<%= trade.targetedSkinsArr[t].url  %> ">


                     [<%=trade.targetedSkinsQuality[t] %>] -
                        [<%=trade.targetedSkinsArr[t].float %>] -
                           <% if(profit.pricesType=='stattrakPrices' ){ %> StatTrak™ <% } %>
                                 <%= trade.targetedSkinsArr[t].name %>
                                    <%= trade.targetedSkinsArr[t].skin %> -
                                       <span class="targetedSkinsArr-price">
                                          <%=
                                             Math.round(trade.targetedSkinsArr[t].price*currency.multiplier/0.87*100)/100%>
                                       </span>
                                       (
                                       <span class="targetedSkinsArr-price-fee-applied">
                                          <%=Math.round(trade.targetedSkinsArr[t].price*currency.multiplier*100) /100 %>
                                       </span>
                                       )
                                       <%= Math.round(trade.targetedSkinsArr[t].amount/profit.instance.targetedSkinsNumber*10000)/100
                                          %>
                                          <span class="targetedSkinsArr-amount d-none">
                                             <%= trade.targetedSkinsArr[t].amount %>
                                          </span>%


                  </a>
               </li>
               <% } %>
         </ul>
      </div>

   </section>



</section>

<section class="container card">
   <div class="card-body">

      <%- include('./chart') %>
   </div>
</section>