<%- `<${elementName} class="trade-tile card mt-5 ${details.rarity}-${details.targetedRarity}" data-tilt
   data-tilt-max="1" data-tilt-speed="2000">` %>


   <div class="card-body d-flex flex-column text-light-white">

      <section class="d-flex flex-row justify-content-between">

         <% if(title){ %>

            <h3 class="card-title px-2 ">
               <%= trade.highlightName %>
            </h3>
            <% } else{%>
               <span></span>
               <% } %>
                  <span class="d-flex flex-row">

                     <%- `${include('../partials/tradeManaging',{trade:manageTrade,showMagnifier:false})}`%>

                  </span>
      </section>



      <section class="d-flex flex-row flex-wrap">

         <div class="d-flex align-items-center justify-content-center flex-3">

            <span class="position-relative skin-tile-container" type="button" data-bs-container="body"
               data-bs-toggle="popover" data-bs-placement="top"
               data-bs-title="<%= `${details.firstSkin.name} | ${details.firstSkin.skin}` %>"
               data-bs-content="Float : <%= details.firstSkinAvgFloat %>">

               <img src="<%= details.firstSkin.icon %>"
                  alt="<%= `${details.firstSkin.name} | ${details.firstSkin.skin}` %>" class="skin-tile-img mx-3">
               <div class="skin-number">
                  <%= trade.amount.amount1 %>
               </div>

            </span>

            <img src="/assets/plus-lg.svg" alt="plus" class="plus">

            <span class="position-relative skin-tile-container" type="button" data-bs-container="body"
               data-bs-toggle="popover" data-bs-placement="top"
               data-bs-title="<%= `${details.secondSkin.name} | ${details.secondSkin.skin}` %>"
               data-bs-content="Float : <%= details.secondSkinAvgFloat %>">
               <img src="<%= details.secondSkin.icon %>"
                  alt="<%= `${details.secondSkin.name} | ${details.secondSkin.skin}` %>" class="skin-tile-img mx-3">
               <div class="skin-number">
                  <%= trade.amount.amount2 %>
               </div>
            </span>

         </div>

         <div class="vertical-hr"></div>

         <!-- <div class="d-flex flex-row rarity-info flex-2">
         <div class="classified">Classified</div>
         <div class="covert">Covert</div>
      </div> -->

         <!-- <div class="vertical-hr"></div> -->

         <div class=" d-flex flex-column justify-content-evenly statistics flex-4">



            <h5 class="lead m-0 d-flex align-items-center display-5">Chances : <%=trade.instance.chances %>
                  %
            </h5>
            <h5 class="m-0 me-3 me-1 display-5">Profitability : <%= details.returnPercentage %>%
            </h5>

         </div>

      </section>

      <section class="mt-3">


         <a href='<%= showPageLink %>' class="no-underline d-flex flex-row">

            <div class="trade-cost d-flex flex-column justify-content-center align-items-center w-50">
               <h5 class="px-2 m-0">Cost per trade-up&nbsp&nbsp:&nbsp&nbsp<%=
                     `${Math.round(details.inputPrice*currency.multiplier*100)/100} ${currency.symbol}`%>
               </h5>
            </div>
            <div class="average-profit d-flex flex-column justify-content-center align-items-center w-50">
               <h5 class="px-2 m-0">Statistical profit&nbsp&nbsp:&nbsp&nbsp<%=
                     `${Math.round(details.profitPerTradeUp*currency.multiplier*100)/100} ${currency.symbol}` %>
               </h5>
            </div>

         </a>

         <a href='<%= showPageLink %>' class="no-underline d-flex flex-row">
            <div class="rarity  d-flex justify-content-around">
               <span>
                  <%= details.rarity %>
               </span>
               <span>
                  <%= details.targetedRarity %>
               </span>
            </div>
         </a>

      </section>


      <a href="<%= showPageLink %>" class="mt-3 btn btn-primary d-flex align-self-end">View Trade-up</a>

   </div>

   <%- `</${elementName}>` %>