<link rel="stylesheet" href="/stylesheets/tradeShow.css">

<main class="container d-flex flex-column mt-5">

   <section class="stats my-4">
      <% const bg=trade.rarity+"-"+trade.targetedRarity %>
         <%- include('./statsItem.ejs',{statsTitle:'Avg. Float',
            statsValue:(profit.instance.avg+'00').slice(0,6),symbol:'',className:'avg-float',bg:bg,}) %>
            <%- `${include('./statsItem.ejs',{statsTitle:'Cost',statsValue:Math.round(trade.inputPrice*currency.multiplier*100)/100
               ,symbol:currency.symbol,className:'input-price',bg:bg,}) }` %>
               <%- `${include('./statsItem.ejs',{statsTitle:'Chances',statsValue:
                  profit.instance.chances,symbol:'%',className:'chances',bg:bg,}) }`%>
                  <%- `${include('./statsItem.ejs',{statsTitle:'Avg. Profit',
                     statsValue:Math.round(trade.profitPerTradeUp*currency.multiplier*100)/100,
                     symbol:currency.symbol,className:'perTradeUp',bg:bg,})}`%>
                     <%- `${include('./statsItem.ejs',{statsTitle:'Profitability',
                        statsValue:trade.returnPercentage,symbol:'%',className:'profitability',bg:bg,})}` %>


   </section>

   <section class=" card">
      <div class="card-header d-flex justify-content-between <%= bg %>">
         <h3 class="text-white">TradeUp</h3>
         <% if (isFavouriteShowPage ) { %>
            <span class="d-flex flex-row justify-content-end">

               <%- include('../partials/tradeManaging',{trade:profit.orginalTrade})%>

            </span>

            <% }else{ %>
               <span class="d-flex flex-row justify-content-end">

                  <%- include('../partials/tradeManaging',{trade:profit})%>

               </span>

               <% } %>

      </div>
      <div class="card-body">


         <div class="row">


            <div id="inputs" class="col-12 col-md-5 d-flex flex-column align-items-center">
               <h3>INPUTS</h3>
               <hr role=tournament6>

               <div class="input-skins py-3">


                  <%- `${include('./skinCard.ejs',{ float:trade.firstSkinAvgFloat,amount:profit.amount.amount1,
                     price:Math.round(trade.firstPrice*currency.multiplier*100)/100,type:'input-skin',
                     link:trade.firstSkinUrl, icon:trade.firstSkin.icon, _id:trade.firstSkin._id,
                     label:trade.firstSkin.name + ' | ' + trade.firstSkin.skin + ' (' + trade.firstQuality + ') ' }) }`
                     %>

                     <%- `${include('./skinCard.ejs',{ float:trade.secondSkinAvgFloat,amount:profit.amount.amount2,
                        price:Math.round(trade.secondPrice*currency.multiplier*100)/100,type:'input-skin',
                        link:trade.secondSkinUrl, icon:trade.secondSkin.icon, _id:trade.secondSkin._id,
                        label:trade.secondSkin.name + ' | ' + trade.secondSkin.skin + ' (' + trade.secondQuality + ') '
                        }) }` %>

               </div>

            </div>

            <div id="outputs" class="col-12 col-md-7 d-flex flex-column align-items-center">
               <h3>OUTPUTS</h3>
               <hr role=tournament6>

               <div class="output-skins py-4">
                  <% for(let targetedSkin of trade.targetedSkinsArr) {%>
                     <%- `${include('./skinCard.ejs',{ float:targetedSkin.float,amount:targetedSkin.amount,
                        price:Math.round(targetedSkin.price/0.87*currency.multiplier*100)/100,
                        type:'output-skin',link:targetedSkin.url, icon:targetedSkin.icon, _id:targetedSkin._id,
                        label:targetedSkin.name+' | '+targetedSkin.skin+' ('+targetedSkin.quality+') '})}`%>
                  <% } %>


               </div>

            </div>

            <% if (isFavouriteShowPage) { %>
               <button id="/favourites/<%= profit._id %>/edit" class="btn btn-success btn-recheck-trade mt-3">Check Trade</button>
            <% }else{ %>
               <button id="/trades/<%= profit._id %>" class="btn btn-success btn-recheck-trade mt-3">Check Trade</button>
               <% } %> 

         </div>


      </div>
   </section>

   <section class="card d-flex mt-5">

      
         <div class="card-header d-flex justify-content-start <%= bg %>">
            <h3 class="text-white">Tradeing Simulation</h3>            
         </div>

         <div class="card-body">
            
            <%- include("./chart.ejs") %>
         
         </div>

    
   </section>

   <section class="card d-flex my-5">
      <div class="card-header d-flex justify-content-between <%= bg %>">
         <h3 class="text-white">Alternative Input Skins</h3>
      </div>
      
      <div class="card-body">

         <div class="alternate-skins pt-3">
            <% let type="alternate-skin-checkbox";if( !currentUser || currentUser.role==' guest' )type='alternate-skin'
                        %>
                        <% for(let alternateSkin of trade.alternateInputSkins){ %>

                           <%- `${include("./skinCard.ejs",{ float:alternateSkin.float,
                              price:Math.round(alternateSkin.price*currency.multiplier*100)/100, value:
                              alternateSkin.replacement +" _ "+alternateSkin.amount + " _ " + alternateSkin.float + " _ " + alternateSkin.botPrice
                              + " _ " + alternateSkin.url , link:alternateSkin.url, type:type, icon:alternateSkin.icon,
                              _id:alternateSkin._id,amount:alternateSkin.amount, label:alternateSkin.name+ ' | ' +
                              alternateSkin.skin + ' (' + alternateSkin.quality + ') ' ,symbol:currency.symbol })}`%>

                              <% } %>
               </div>


               <button class=" btn btn-success w-100 mt-3" id="code-for-bot">Generate Bot's Code</button>



               </div>
   </section>
</main>


<script src="/javascripts/tradeShow/recheckingTrade.js"></script>
<% if(currentUser && (currentUser.role=='admin' || currentUser.role=='moderator' )){ %>
   <script src="/javascripts/tradeShow/alternateSkinsCheckbox.js"></script>
   <script src="/javascripts/tradeShow/bot.js"></script>
   <% } %>