<%- `<${elementName} class="trade-tile card mt-5 shadow-lg  ${data.rarity}-${data.targetedRarity}-pastell "
   ${animationData}>` %>



   <div class="card-body d-flex flex-column text-light-white">

      <section class="d-flex flex-row justify-content-between">
         <% const addStattrakBadge=(pricesType)=> { %>
            <% if(pricesType=='stattrakPrices' ) return `<span
               class="mx-3 fs-5 badge btn-warning text-white d-flex align-items-center ">StatTrak</span>`
               }%>


               <% if(title!=false){ %>

                  <h4 class="card-title px-2 d-flex ">
                     <%= title %>
                        <%- addStattrakBadge(pricesType) %>
                  </h4>

                  <% } else{%>
                     <span>
                        <%- addStattrakBadge(pricesType) %>

                     </span>
                     <% } %>
                        <span class="d-flex flex-row">

                           <%-
                              `${include('../partials/tradeManaging',{_id,favouritesInfo,isHighlighted,isOnFavouritePage})}`%>
                        </span>
      </section>



      <section class="d-flex flex-column flex-lg-row">

         <div class="my-3 my-lg-1 d-flex flex-row align-items-center justify-content-center flex-3">

            <span class="position-relative skin-tile-container" type="button" data-bs-container="body"
               data-bs-toggle="popover" data-bs-placement="top"
               data-bs-title="<%= `${data.firstSkin.name} | ${data.firstSkin.skin}` %>"
               data-bs-content="Float : <%= data.firstSkinAvgFloat %>">

               <img loading="lazy" src="<%= data.firstSkin.icon %>"
                  alt="<%= `${data.firstSkin.name} | ${data.firstSkin.skin}` %>" class="skin-tile-img mx-3">
               <div class="skin-number">
                  <%= data.amount.amount1 %>
               </div>

            </span>

            <img loading="lazy" src="/assets/plus-lg.svg" alt="plus" class="plus">

            <span class="position-relative skin-tile-container" type="button" data-bs-container="body"
               data-bs-toggle="popover" data-bs-placement="top"
               data-bs-title="<%= `${data.secondSkin.name} | ${data.secondSkin.skin}` %>"
               data-bs-content="Float : <%= data.secondSkinAvgFloat %>">
               <img loading="lazy" src="<%= data.secondSkin.icon %>"
                  alt="<%= `${data.secondSkin.name} | ${data.secondSkin.skin}` %>" class="skin-tile-img mx-3">
               <div class="skin-number">
                  <%= data.amount.amount2 %>
               </div>
            </span>

         </div>

         <div class="vertical-hr d-none d-lg-block"></div>



         <div
            class=" d-flex flex-column justify-content-evenly align-items-center align-items-lg-start statistics flex-4">



            <h5 class="m-0 d-flex flex-row display-6 text-center chances">
               <span> Chances :&nbsp;</span>
               <span>
                  <%=statistics.chances %> %
               </span>
            </h5>
            <h5 class="mt-1 d-flex flex-column flex-xl-row display-6 text-center profitability">
               <span>Profitability
                  :&nbsp;</span>
               <span>
                  <%= statistics.returnPercentageTaxed %>% / <%= statistics.returnPercentage %>%
               </span>
            </h5>

         </div>

      </section>

      <section class="mt-3">


         <a href='<%= showPageLink %>' class="no-underline d-flex flex-row">

            <div class="trade-cost w-50">
               <h5 class="fs-6 fs-md-5 fs-lg-4 px-2 m-0 d-flex flex-column flex-md-row text-center">
                  <span>
                     Cost :&nbsp;
                  </span>
                  <span>
                     <%=`${Math.round(statistics.tradeCost*currency.multiplier*100) /100} ${currency.symbol}`%>
                  </span>
               </h5>
            </div>


            <div class="average-profit w-50">
               <h5 class="fs-6 fs-md-5 fs-lg-4 px-2 m-0 d-flex flex-column flex-md-row text-center">
                  <span>
                     Profit :&nbsp;
                  </span>
                  <span>
                     <%=`${Math.round(statistics.profitPerTradeUpTaxed*currency.multiplier*100) /100}
                        ${currency.symbol}` %>
                        /
                        <%=`${Math.round(statistics.profitPerTradeUp*currency.multiplier*100) /100} ${currency.symbol}`
                           %>
                  </span>
               </h5>
            </div>

         </a>

         <a href='<%= showPageLink %>' class="no-underline d-flex flex-row">
            <div class="rarity  d-flex justify-content-around <%= `${data.rarity}-${data.targetedRarity}-rarity`%>">
               <span>
                  <%= data.rarity %>
               </span>
               <span>
                  <%= data.targetedRarity %>
               </span>
            </div>
         </a>

      </section>


      <a href="<%= showPageLink %>" class="mt-3 btn btn-primary d-flex align-self-end">View Trade-up</a>

   </div>

   <%- `</${elementName}>` %>