<% layout('layouts/boilerplate')%>

   <header class="container my-5 ">

      <h1 class="display-6 my-2 py-2">Ulubione Trade'y Algorytmu Mixed</h1>

      <div class="lead alert alert-success alert-dismissible fade show" role="alert">
         <h4 class="alert-heading">Wszystko co ważne w jednym miejscu!</h4>
         <hr>
         <p>
            Dodawaj trejdy do ulubionych i już nigdy nie przegap świetnej okazji
         </p>
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>


      <span class="links">
         <a class="btn btn-primary mt-2" href="/skins">Wróć do strony skinów</a>
         <!-- <a class="btn btn-primary mt-2"
               href="<%= url.replace('action=save','action=nothing').replace('action=display','action=nothing') %>">
               Szukaj od nowa</a> -->
      </span>
   </header>


   <main class="container">
      <% if(favourites){ %>
         <% let number=1; %>
            <ul class="d-flex flex-column">

               <% for(let favourite of favourites){ %>
                  <% if(number <=maxShownSkins){ %>
                     <% let trade=favourite.instance.trade %>
                        <li class="my-4 p-3 trade rounded border container bg-<%= trade.rarity.replace('_','') %>">
                           <div class="row">

                              <!-- COLLECTIONS DATA -->
                              <div class="d-flex justify-content-between">
                                 <div class="col-11">
                                    <div>
                                       <%= favourite.instance.avg %>
                                          <%= trade.rarity %>
                                             [<%= trade.firstSkin.case %> + <%= trade.secondSkin.case %>] => [<%=
                                                      trade.targetedSkin.case%>]
                                    </div>
                                    <div>
                                       <div>
                                          Nazwa przeszukania : <%= favourite.name %>
                                       </div>
                                       <div>
                                          Podbicie Ceny : <%= favourite.priceCorrection %>zł
                                       </div>
                                       <% if(favourite.pricesType=='stattrakPrices' ){ %>
                                          <div class="stattrak mt-3">
                                             StatTrak™
                                          </div>
                                          <% } %>
                                    </div>
                                 </div>


                                 <a class="star col-1" href="/user/favourite/<%= favourite._id %>">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                       class="bi bi-star-fill" viewBox="0 0 16 16">
                                       <path
                                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                                    </svg>
                                 </a>

                              </div>


                              <!-- TRADE -->
                              <div class="mt-4 mb-2  d-flex flex-column">

                                 <!-- INPUT PRICE -->
                                 <h5 class="col-12 d-flex justify-content-center input-price">
                                    (<%= trade.inputPrice %>zł)
                                 </h5>

                                 <div class="row">
                                    <a class="link-dark mb-1 d-flex col-12 justify-content-center skin first"
                                       data-bs-toggle="tooltip" data-bs-placement="right" title="See on the market"
                                       href="<%= trade.firstSkinUrl %>" target="_blank">
                                       <%= favourite.amount.amount1 %>x
                                          [<%= trade.firstQuality %>]
                                             [<%= trade.firstSkinAvgFloat %>]
                                                <span class="first-price mx-1">
                                                   (<%=trade.firstPrice%>zł)
                                                </span> -
                                                <% if(favourite.pricesType=='stattrakPrices' ){ %>
                                                   StatTrak™
                                                   <% } %>
                                                      <%= trade.firstSkin.name %>
                                                         <%= trade.firstSkin.skin %>
                                    </a>

                                    <a class="link-dark d-flex col-12 justify-content-center skin second"
                                       data-bs-toggle="tooltip" data-bs-placement="right" title="See on the market"
                                       href="<%= trade.secondSkinUrl %>" target="_blank">
                                       <%= favourite.amount.amount2 %>x
                                          [<%= trade.secondQuality %>]
                                             [<%= trade.secondSkinAvgFloat %>]
                                                <span class="second-price mx-1">
                                                   (<%=trade.secondPrice %>zł)
                                                </span> -
                                                <% if(favourite.pricesType=='stattrakPrices' ){ %>
                                                   StatTrak™
                                                   <% } %>
                                                      <%= trade.secondSkin.name %>
                                                         <%= trade.secondSkin.skin %>
                                    </a>


                                    <div class="arrow mx-auto my-3"></div>

                                    <a class="link-dark d-flex col-12 justify-content-center  skin output"
                                       data-bs-toggle="tooltip" data-bs-placement="right" title="See on the market"
                                       href="<%= trade.targetedSkinUrl %>" target="_blank">
                                       [<%= trade.targetedQuality %>]
                                          [<%= trade.targetedSkinFloat %>] -
                                             <% if(favourite.pricesType=='stattrakPrices' ){ %>
                                                StatTrak™
                                                <% } %>
                                                   <%= trade.targetedSkin.name %>
                                                      <%= trade.targetedSkin.skin %>
                                                         (<%=trade.targetedPrice %>)
                                    </a>

                                 </div>
                              </div>

                              <!-- STATS -->
                              <div class="stats col-12 col-lg-6 offset-lg-3 d-flex flex-column ">

                                 <div class="d-flex flex-row col-12 mt-auto data text-white">
                                    <div
                                       class="d-flex  py-2 w-100 justify-content-center align-items-center bg-primary profit-per-tradeup">
                                       <%= trade.profitPerTradeUp %>zł
                                    </div>
                                    <div
                                       class="d-flex  py-2 w-100 justify-content-center align-items-center bg-success return-percentage">
                                       <%= trade.returnPercentage %>%
                                    </div>
                                    <div
                                       class="d-flex  py-2 w-100 justify-content-center align-items-center bg-danger positive-chance">
                                       <%=
                                          Math.round(favourite.instance.wantedOutputChance/favourite.instance.targetedSkinsNumber*100*100)/100%>
                                          %
                                    </div>
                                 </div>

                              </div>

                              <!-- UPDATE FORM -->
                              <div class="col-12 d-flex justify-content-center my-3">
                                 <form action="/skins/trades/favourites/<%= favourite._id %>" method="POST"
                                    class="recheck-form d-flex flex-column align-items-center">

                                    <h5>Inputs:</h5>
                                    <div class="d-flex flex-row">
                                       <div class="form-group">
                                          <label for="firstPriceForm<%= favourite._id %>">
                                             <%= trade.firstSkin.name %>'s' new price
                                          </label>
                                          <input id="firstPriceForm<%= favourite._id %>" type="number" name="firstPrice"
                                             value="<%= trade.firstPrice  %>" class="form-control" step="0.01">
                                       </div>

                                       <div class="form-group">
                                          <label for="secondPriceForm<%= favourite._id %>">
                                             <%= trade.secondSkin.name %>'s' new price
                                          </label>
                                          <input id="secondPriceForm<%= favourite._id %>" type="number"
                                             name="secondPrice" value="<%= trade.secondPrice %>" class="form-control"
                                             step="0.01">
                                       </div>
                                    </div>
                                    <h5 class="mt-3">Outputs:</h5>

                                    <div class="d-flex flex-row flex-wrap justify-content-center">
                                       <% for(let targetedSkin of trade.targetedSkinsArr){ %>
                                          <div class="form-group">
                                             <label for="<%= favourite._id %><%= targetedSkin._id %>">
                                                <div>
                                                   <%= targetedSkin.name %>
                                                </div>
                                                <div>
                                                   <%= targetedSkin.skin %>
                                                </div>
                                             </label>
                                             <input id="<%= favourite._id %><%= targetedSkin._id %>" type="number"
                                                name="<%= targetedSkin._id %>"
                                                value="<%= Math.round(targetedSkin.price/0.87*100)/100 %>"
                                                class="form-control" step="0.01">
                                          </div>
                                          <% } %>
                                    </div>

                                    <button class="btn btn-success w-100">RECHECK</button>
                                 </form>
                              </div>

                              <!-- HELP SKINS -->
                              <div class="d-flex flex-column flex-lg-row col-12 mt-3 mb-2">

                                 <!-- ALTERNATE INPUTS -->
                                 <div class="col-12 col-lg-6">
                                    <h6 class="d-flex my-2">ALTERNATE INPUTS:</h6>
                                    <ul class="list-unstyled">
                                       <% for(let alternateSkin of trade.alternateInputSkins){ %>
                                          <li class="d-flex mb-1">
                                             <a class="link-dark" target="_blank" title="See on the market"
                                                href="<%= alternateSkin.url  %> ">
                                                <% if(favourite.pricesType=='stattrakPrices' ){ %>

                                                   <%=`${alternateSkin.collectionName} - [${alternateSkin.quality}] -
                                                      StatTrak™ ${alternateSkin.name} ${alternateSkin.skin} -
                                                      (${alternateSkin.price})`%>

                                                      <% }else{ %>
                                                         <%=`${alternateSkin.collectionName} -
                                                            [${alternateSkin.quality}] - ${alternateSkin.name}
                                                            ${alternateSkin.skin} - (${alternateSkin.price})`%>
                                                            <% } %>
                                             </a>
                                          </li>
                                          <% } %>
                                    </ul>
                                 </div>

                                 <!-- OUTPUTS -->
                                 <div class="outputs col-12 col-lg-6">
                                    <h6 class="d-flex my-2">OUTPUTS:</h6>
                                    <ul class="list-unstyled">
                                       <% for(let t=0;t<trade.targetedSkinsArr.length;t++){ %>
                                          <li class="d-flex mb-1">
                                             <a class="link-dark" target="_blank" title="See on the market"
                                                href="<%= trade.targetedSkinsArr[t].url  %> ">

                                                <% if(favourite.pricesType=='stattrakPrices' ){ %>

                                                   [<%=trade.targetedSkinsQuality[t] %>] -
                                                      [<%=trade.targetedSkinsArr[t].float %>] -
                                                         StatTrak™
                                                         <%= trade.targetedSkinsArr[t].name %>
                                                            <%= trade.targetedSkinsArr[t].skin %> -
                                                               <%=
                                                                  Math.round(trade.targetedSkinsArr[t].price*100/0.87)/100%>
                                                                  (
                                                                  <%=trade.targetedSkinsArr[t].price%>)

                                                                     <% }else{ %>
                                                                        [<%=trade.targetedSkinsQuality[t] %>] -
                                                                           [<%=trade.targetedSkinsArr[t].float %>] -
                                                                              <%= trade.targetedSkinsArr[t].name %>
                                                                                 <%= trade.targetedSkinsArr[t].skin %> -
                                                                                    <%=
                                                                                       Math.round(trade.targetedSkinsArr[t].price*100/0.87)/100%>
                                                                                       (
                                                                                       <%=trade.targetedSkinsArr[t].price%>
                                                                                          )

                                                                                          <% } %>
                                             </a>
                                          </li>
                                          <% } %>
                                    </ul>
                                 </div>

                              </div>

                           </div>

                        </li>
                        <% number+=1; %>
                           <% } %>
                              <% } %>



            </ul>
            <% } %>

   </main>

   <script src="/javascripts/axios.min.js"></script>
   <script src="/javascripts/favourites.js"></script>