<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <% if(amount.amount3!==undefined){ %>
      <title>Trades Mixed <%= amount.amount1 %>/<%= amount.amount2 %>/<%= amount.amount3 %> Algorithm</title>
      <% }else{ %>
         <title>Trades Mixed <%= amount.amount1 %>/<%= amount.amount2 %> Algorithm</title>
         <% } %>
            <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
            <style type="text/css">
               * {
                  box-sizing: border-box !important;
               }

               html {
                  min-height: 100vh;
                  height: 100%;
                  width: 100%;
               }

               body {

                  background-image: url('/assets/Circuit Board.svg');
                  background-size: cover;
               }

               h1 {
                  display: flex;
                  width: fit-content;
                  border-bottom: 3px solid rgb(3, 3, 3);
               }

               h5 {
                  font-weight: 400;
               }

               ul {
                  padding: 0;
               }

               li.trade {
                  padding: 10px;
                  list-style: none;
               }


               .border {
                  border: 1px solid black;
               }

               .stats {
                  font-weight: 300;
                  font-size: 30px;
               }

               .inputPrice {
                  font-weight: 500;
               }

               .bg-grey {
                  background-color: rgb(159, 159, 159);
               }

               .bg-lightblue {
                  background-color: rgba(154, 193, 251, 0.8);
               }

               .bg-blue {
                  background-color: rgb(127, 186, 253);
               }

               .bg-purple {
                  background-color: rgb(180, 123, 255);
               }

               .bg-pink {
                  background-color: rgba(255, 207, 237, 0.667);
               }

               .arrow {
                  width: 40px !important;
                  height: 40px !important;
                  background-image: url('/assets/arrow.svg');
                  background-repeat: no-repeat;
                  background-size: cover;
               }
            </style>
</head>

<body>

   <header class="container my-5 ">

      <h1 class="display-6 my-2 py-2">Trade'y Algorytmu Mixed
         <% if(amount.amount3!==undefined){ %>
            <%= amount.amount1 %>/<%= amount.amount2 %>/<%= amount.amount3 %>
                     <% }else{ %>
                        <%= amount.amount1 %>/<%= amount.amount2 %>
                              <% } %>
      </h1>
      <h4 class="my-3">Brawo! Rozpatrzyłeś <%= counterOpt %> przypadków w konfiguracji
            <% if(amount.amount3!==undefined){ %>
               <%= amount.amount1 %>/<%= amount.amount2 %>/<%= amount.amount3 %>
                        <% }else{ %>
                           <%= amount.amount1 %>/<%= amount.amount2 %>
                                 <% } %>
      </h4>
      <h4 class="my-3">Liczba pozytywnych przypadków - <%= positiveResults %>
      </h4>

      <% if(info && info.length){ %>
         <p class="lead alert alert-warning alert-dismissible fade show" role="alert">
            <%= info %>
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </p>
         <% } %>

            <span class="links">
               <a class="btn btn-primary mt-2" href="/skins">Wróć do strony skinów</a>
               <a class="btn btn-primary mt-2"
                  href="<%= url.replace('cookie=save','cookie=nothing').replace('cookie=readLast','cookie=nothing') %>">
                  Szukaj od nowa</a>
            </span>
   </header>


   <main class="container">
      <% if(profits){ %>
         <% let number=1; const maxShownSkins=300; %>
            <% let tradeColumns='col-lg-6' ; %>
               <% amount.amount3?tradeColumns='col-lg-4' :null; %>
                  <ul>

                     <% for(let profit of profits){ %>
                        <% if(number <=maxShownSkins){ %>
                           <% let trade=profit.trade %>
                              <li
                                 class="my-4 p-3 trade rounded border container bg-<%= trade.rarity.replace('_','') %>">
                                 <div class="row">

                                    <!-- COLLECTIONS DATA -->
                                    <div class="">
                                       <%= profit.avg %>
                                          <%= trade.rarity %>
                                             [<%= trade.skin.case %> + <%= trade.cooperativeSkin.case %>
                                                   <% if(amount.amount3){ %>
                                                      + <%=trade.thirdSkin.case %>
                                                         <% } %>
                                                            ]
                                                            =>
                                                            [<%= trade.targetedSkin.case%>]
                                    </div>


                                    <!-- TRADE -->
                                    <div class="my-4  d-flex flex-column">

                                       <!-- INPUT PRICE -->
                                       <h5 class="col-12 d-flex justify-content-center inputPrice">
                                          (<%= trade.inputPrice %>)
                                       </h5>

                                       <div class="row">

                                          <h5 class="d-flex col-12 justify-content-center skin first">
                                             <%= amount.amount1 %>x
                                                [<%= trade.quality %>]
                                                   [<%=trade.skin.prices[trade.quality] %>]
                                                      <%= trade.skin.name %>
                                                         <%= trade.skin.skin %>
                                          </h5>
                                          <h5 class="d-flex col-12 justify-content-center skin second">
                                             <%= amount.amount2 %>x
                                                [<%= trade.cooperativeQuality %>]
                                                   [<%=trade.cooperativeSkin.prices[trade.cooperativeQuality] %>]
                                                      <%= trade.cooperativeSkin.name %>
                                                         <%= trade.cooperativeSkin.skin %>
                                          </h5>


                                          <% if(amount.amount3){ %>
                                             <h5 class="d-flex col-12 skin third">
                                                <%= amount.amount3 %>x
                                                   [<%= trade.thirdQuality %>]
                                                      [<%=trade.thirdSkin.prices[trade.thirdQuality] %>]
                                                         <%= trade.thirdSkin.name %>
                                                            <%= trade.thirdSkin.skin %>
                                             </h5>
                                             <% } %>

                                                <div class="arrow mx-auto my-3"></div>

                                                <h5 class="d-flex col-12 justify-content-center  skin output">
                                                   [<%= trade.targetedQuality %>]
                                                      <%= trade.targetedSkin.name %>
                                                         <%= trade.targetedSkin.skin %>
                                                            (<%= Math.round(trade.targetedPrice*100)/100 %>)
                                                </h5>

                                       </div>
                                    </div>

                                    <!-- STATS -->
                                    <div class="stats col-12 col-lg-6 d-flex flex-column flex-lg-row text-white">
                                       <div
                                          class="d-flex align-self-end py-2 w-100 justify-content-center align-items-center bg-primary">
                                          <%= Math.round(trade.profitPerTradeUp*100)/100 %>zł
                                       </div>
                                       <div
                                          class="d-flex align-self-end py-2 w-100 justify-content-center align-items-center bg-success">
                                          <%= Math.round(trade.returnPercentage*100)/100 %>%
                                       </div>
                                       <div
                                          class="d-flex align-self-end py-2 w-100 justify-content-center align-items-center bg-danger">
                                          <%= Math.round(profit.wantedOutputChance/profit.targetedSkinsNumber*100*100)/100
                                             %>%
                                       </div>
                                    </div>

                                    <!-- OUTPUTS -->
                                    <div class="outputs col-12 col-lg-6 mt-3 mt-lg-0 ">
                                       <h6>OUTPUTS:</h6>
                                       <ul class="list-unstyled">
                                          <% for(let t=0;t<trade.targetedSkinsArr.length;t++){ %>
                                             <li>
                                                [<%=trade.targetedSkinsQuality[t] %>]
                                                   [<%=trade.targetedSkinsArr[t].float %>]
                                                      <%= trade.targetedSkinsArr[t].name %>
                                                         <%= trade.targetedSkinsArr[t].skin %> -
                                                            <%=trade.targetedSkinsArr[t].prices[trade.targetedSkinsQuality[t]]%>
                                                               (
                                                               <%=Math.round((trade.targetedSkinsArr[t].prices[trade.targetedSkinsQuality[t]])*0.87*100)
                                                                  /100%>)
                                             </li>
                                             <% } %>
                                                </ol>
                                    </div>


                                 </div>




                              </li>
                              <% number+=1; %>
                                 <% } %>
                                    <% } %>



                  </ul>
                  <% } %>

   </main>


   <!-- <script src="./javascripts/popper.min.js"></script>
   <script src="./javascripts/bootstrap.min.js"></script> -->

   <!-- <script src="./javascripts/index.js"></script> -->

   <script src="/javascripts/popper.min.js"></script>
   <script src="/javascripts/bootstrap.min.js"></script>


</body>

</html>