<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Trades</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <style type="text/css">
      html {
         min-height: 100vh;
         height: 100%;
         width: 100%;
      }

      body {

         background-image: url('/assets/Circuit Board.svg');
         background-size: cover;
      }

      .text-underline {
         display: inline-flex;
         height: 100%;
         border-bottom: 2px solid rgb(0, 155, 13);
      }

      svg {
         color: green;
         height: 12px;
         transform: translate3d(-6px, -6px, 0);
      }

      svg.down {
         color: red;
         transform: translate3d(-6px, 4px, 0) rotate(180deg);
      }

      .text-underline.red {
         border-bottom: 2px solid red;
      }

      .text-underline.purple {
         border-bottom: 2px solid rgb(98, 0, 255);
      }

      .text-underline.bg-purple {
         background-color: rgb(201, 159, 231);
      }
   </style>
</head>

<body>
   <div class="container d-flex flex-column">
      <div class="mb-4">
         <h1 class="mt-4">Trade'y</h1>
         <a class="btn btn-primary mt-2" href="/skins">Wróć do strony skinów</a>
         <a class="btn btn-success mt-2" href="/skins/trades">Szukaj ponownie</a>
      </div>

      <ol>
         <% for(let instance of profit){ %>
            <% for(let trade of instance.tradesArr) {%>
               <li class="d-flex flex-row justify-content-space-between my-2">
                  <div class="d-flex col-12 col-md-8">
                     <span>
                        <%= trade.skin.rarity %>
                           [<%= shortcuts[trade.quality] %>] <%= trade.skin.name %> | <%= trade.skin.skin %> (<%=
                                       trade.price %> ) =>
                     </span>
                     <span>
                        [<%= shortcuts[trade.targetedQuality] %>] <%= trade.targetedSkin.name %> | <%=
                                 trade.targetedSkin.skin %> (<%= trade.targetedPrice %> )
                     </span>
                  </div>

                  <div class="d-flex col-12 col-md-4">
                     <span class="mx-2 text-underline">
                        <%= instance.chance %>%
                     </span>
                     <span class="mx-2 text-underline">
                        <% let singleProfit=Math.round((trade.targetedPrice-trade.price)*100)/100 %>
                           <%= singleProfit %>zł
                     </span>
                     <span class="mx-2 text-underline red">
                        <%= 100-instance.chance %>%
                     </span>
                     <span class="mx-2 text-underline red">
                        <% let
                           singleLoss=Math.round((trade.price-(instance.total-trade.targetedPrice)/(instance.nOfTargetedSkins-1))*100)/100
                           %>
                           <%= singleLoss %>zł
                     </span>
                     <%let
                        overallProfit=Math.round((singleProfit*instance.chance/100-singleLoss*(100-instance.chance)/100)*100)/100
                        %>
                        <% if(overallProfit>0){ %>
                           <span class="text-underline purple bg-purple">
                              <%= overallProfit %>
                           </span>
                           <% }else{ %>
                              <span class="text-underline purple">
                                 <%= overallProfit %>
                              </span>
                              <% } %>
                  </div>


               </li>
               <% } %>
                  <% } %>
      </ol>



   </div>


   <!-- <script src="./javascripts/popper.min.js"></script>
   <script src="./javascripts/bootstrap.min.js"></script> -->

   <!-- <script src="./javascripts/index.js"></script> -->
   <script src="/javascripts/popper.min.js"></script>
   <script src="/javascripts/bootstrap.min.js"></script>

   <script src="/javascripts/trades.js"></script>
</body>

</html>