<% layout('layouts/boilerplate')%>

   <div class="container py-5">
      <div class="card">
         <div class="card-body">
            <div class="card-title">
               <h1>Error</h1>
            </div>
            <p class="lead mb-0">
               <%= err.message %>
            </p>
            <p class="lead mt-0">
               <%= err.statusCode %>
            </p>
            <a href="/main" class="btn btn-danger">Main</a>
         </div>
      </div>


      <% if( typeof(emptySkins) !='undefined' ){ %>
         <div class="lead alert alert-warning alert-dismissible fade show my-3" role="alert">
            <h3 class="alert-heading">Warning!</h3>
            <p class="lead">Some of skins have invalid prices</p>
            <a href="/skins/show-database" class="btn btn-danger">Skins Database</a>
            <hr>
            <% for(let emptySkin of emptySkins){ %>
               <p>
                  <%= emptySkin.name %> | <%= emptySkin.skin %> - <%= emptySkin.case %>
               </p>
               <% } %>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
         </div>
         <% } %>

   </div>