<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Skins</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <style type="text/css">
      html {
         min-height: 100vh;
         height: 100%;
         width: 100%;
      }

      body {

         background-image: url('/assets/Circuit Board.svg');
         background-size: cover;
      }

      #displayFloat {
         display: flex;
         flex: 1;
         justify-content: center;
         align-items: center;

      }

      .bg-white {
         background-color: white !important;
      }
   </style>
</head>

<body>
   <div class="container py-3">
      <h1 class="mt-4">Skiny</h1>
      <a class="btn btn-primary mt-2" href="/skins/update">Odśwież ceny</a>
      <a class="btn btn-success mt-2" href="/skins/trades">Szukaj trade'u !</a>
      <a class="btn btn-danger mt-2" href="/skins/mixed-algorithm?ratio=4-6">Mieszany algorytm szukania 4/6 !</a>

      <a href="/skins/map-collection" class="btn btn-info text-white mt-2">Zmapuj kolekcje ze skinStash!</a>

      <div class="row">

         <div class=" d-flex mt-2 col-12 col-md-3">

            <form class="d-fle col-12 flex-columnx" action="/skins/update-thru-servers" method="POST">
               <label for="server1">Serwer 1</label>
               <input id="server1" class="form-control my-1" type="number" name="server1[start]"
                  placeholder="starting point" aria-label=".form-control example" step="1">
               <input class="form-control my-1" type="number" name="server1[end]" placeholder="end point"
                  aria-label=".form-control example" step="1">
               <label for="server2">Serwer 2</label>
               <input id="server1" class="form-control my-1" type="number" name="server2[start]"
                  placeholder="starting point" aria-label=".form-control example" step="1">
               <input class="form-control my-1" type="number" name="server2[end]" placeholder="end point"
                  aria-label=".form-control example" step="1">
               <label for="server3">Serwer 3</label>
               <input id="server1" class="form-control my-1" type="number" name="server3[start]"
                  placeholder="starting point" aria-label=".form-control example" step="1">
               <input class="form-control my-1" type="number" name="server3[end]" placeholder="end point"
                  aria-label=".form-control example" step="1">
               <label for="server4">Serwer 4</label>
               <input id="server1" class="form-control my-1" type="number" name="server4[start]"
                  placeholder="starting point" aria-label=".form-control example" step="1">
               <input class="form-control my-1" type="number" name="server4[end]" placeholder="end point"
                  aria-label=".form-control example" step="1">
               <div class="d-flex">
                  <button class="btn btn-primary btn-sm col-12">Odśwież ceny używając serwerów</button>
               </div>
            </form>
         </div>

         <div class=" d-flex mt-2 col-12 col-md-3">
            <form id="findFloat" class="d-fle col-12 flex-columnx">
               <input class="form-control my-1" type="number" placeholder="min_float" aria-label=".form-control example"
                  step="0.01">
               <input class="form-control my-1" type="number" placeholder="max_float" aria-label=".form-control example"
                  step="0.01">
               <input class="form-control my-1" type="number" placeholder="avg_float" aria-label=".form-control example"
                  step="0.001">
               <div class="d-flex">
                  <button id="submit" class="btn btn-danger btn-sm col-7">Znajdź float'a</button>
                  <span class="bg-white col-5" id="displayFloat" class="ms-2"></span>
               </div>
            </form>
         </div>

         <div class=" d-flex mt-2 col-12 col-md-3">
            <form class="d-flex col-12 flex-column" action="/skins/update-targeted-prices" method="GET">
               <input class="form-control my-1" type="number" name="fn" placeholder="factory new  0-0.07"
                  aria-label=".form-control example" step="0.001">
               <input class="form-control my-1" type="number" name="mw" placeholder="minimal wear  0.07-0.15"
                  aria-label=".form-control example" step="0.001">
               <input class="form-control my-1" type="number" name="ft" placeholder="field-tested  0.15-0.38"
                  aria-label=".form-control example" step="0.001">
               <input class="form-control my-1" type="number" name="ww" placeholder="well-worn  0.38-0.45"
                  aria-label=".form-control example" step="0.001">
               <input class="form-control my-1" type="number" name="bs" placeholder="battle-scarred  0.45-1"
                  aria-label=".form-control example" step="0.001">
               <div class="d-flex">
                  <button class="btn btn-danger btn-sm col-12">Zmień średnie floaty</button>
               </div>
            </form>
         </div>

         <div class=" mt-2 col-12 col-md-3">
            <a href="/skins/update-targeted-prices?resetFloats=true"
               class="mt-1 btn btn-warning text-white btn-sm col-12">Zesetuj średnie floaty</a>
         </div>
         </form>
      </div>



      <div class="row d-flex justify-content-between">
         <%let i=0; %>
            <% for(let collection of collections){ %>
               <div class="col-12 col-sm-6 col-md-4 col-lg-3">


                  <h2 class="mt-4">
                     <%=collection.name%>
                  </h2>


                  <% for(let rarity of rarities){ %>
                     <div class="d-flex flex-column">
                        <button class="btn btn-info text-white" type="button" data-bs-toggle="collapse"
                           data-bs-target="#collapseExample<%=i%>" aria-expanded="false"
                           aria-controls="collapseExample<%=i%>">

                           <%= rarity %>
                        </button>
                        <div class="collapse show" id="collapseExample<%=i%>">
                           <% i+=1; %>
                              <% for(let skin of collection.skins[rarity]) {%>
                                 <% if(skin){ %>
                                    <div class="card card-body px-2">

                                       <!-- console.log(skin) -->
                                       <h6>
                                          <%=skin.name %> - <%=skin.skin %>
                                       </h6>
                                       <ul>
                                          <% for(let key of qualities) {%>
                                             <li>
                                                <%= key %> <strong>
                                                      <%= skin.prices[key] %>
                                                   </strong>

                                             </li>
                                             <% }%>
                                       </ul>
                                    </div>
                                    <% } %>
                                       <% } %>
                        </div>
                     </div>
                     <% } %>
               </div>
               <% } %>
      </div>
   </div>


   <script src="/javascripts/popper.min.js"></script>
   <script src="/javascripts/bootstrap.min.js"></script>

   <script src="/javascripts/index.js"></script>
</body>

</html>