<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Map Collection</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <style type="text/css">
      html {
         min-height: 100vh;
         height: 100%;
         width: 100%;
      }

      body {

         background-image: url('/assets/Circuit Board.svg');
         background-size: cover;
      }


      li {
         list-style-type: none;
      }


      .bg-white {
         background-color: white !important;
      }
   </style>
</head>

<body>
   <div class="container py-3">

      <h1 class="mt-4">Zmapuj kolekcje</h1>
      <a class="btn btn-primary mt-2" href="/skins">Index</a>


      <div class=" d-flex mt-2 col-12 ">
         <form id="collectionUrlForm" action="/skins/map-collection" method="POST" class="d-flex col-12 flex-column">
            <label for="collectionName" class="mt-4">
               <h4>Podaj nazwę kolekcji</h4>
            </label>
            <input id="collectionName" class="form-control my-1" type="text" name="collectionName">
            <label for="url" class="mt-4">
               <h4>Podaj Url do kolekcji ze strony SkinStash</h4>
            </label>
            <input id="url" class="form-control my-1" type="text" name="url">


            <div class="d-flex">
               <button class="btn btn-primary btn-sm col-12">Zacznij mapować kolekcję</button>
            </div>
         </form>
      </div>


      <% if(locals.skinsServer){ %>
         <ul class="my-3 py-2">
            <div>
               <%= collectionNameServer %>:[
            </div>
            <% for(let skin of skinsServer){ %>
               <li>{
                  <div>name:'<%=skin.name%>',</div>
                  <div>skin:'<%=skin.skin%>',</div>
                  <div>rarity:'<%=skin.rarity%>',</div>
                  <div>min_float:<%=skin.min_float%>,</div>
                  <div>max_float:<%=skin.max_float%>
                  </div>
                  },
               </li>

               <% } %>

                  ],
         </ul>

         <% } %>


   </div>

</body>

</html>