<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
   <script src="/javascripts/test.js" defer></script>
   <title>Test</title>
   <style type="text/css">
      html {
         min-height: 100vh;
         height: 100%;
         width: 100%;
      }

      body {

         background-image: url('/assets/Circuit Board.svg');
         background-size: cover;
      }

      .text-underline {
         display: inline-flex;
         height: 100%;
         border-bottom: 2px solid rgb(0, 155, 13);
      }

      svg {
         color: green;
         height: 12px;
         transform: translate3d(-6px, -6px, 0);
      }

      svg.down {
         color: red;
         transform: translate3d(-6px, 4px, 0) rotate(180deg);
      }

      .red {
         border-bottom: 2px solid red;
      }

      .perTrade {
         border-bottom: 2px solid rgb(132, 0, 255);
      }
   </style>
</head>

<body class="mt-3">
   <div class="container-fluid">

      <a href="/skins" class="btn btn btn-success">Index</a>
      <a href="/skins/test" class="btn btn btn-dark">test</a>










      <div class="row mt-4">
         <h2>Profit Statystyczny</h2>

         <ul>
            <% for(let item of profit.Statystyczny){ %>
               <li class="d-flex flex-row justify-content-between flex-wrap">
                  <span class="">
                     <%= item.collection %>
                        <span class="color">
                           <%= item.rarity %>
                        </span>
                        [<%= shortcuts[item.quality] %>]
                           <%= item.instance.lowestSkin.name %> |
                              <%= item.instance.lowestSkin.skin %>
                                 (<%= Math.round(item.instance.lowestSkin.price*10*100)/100 %>)
                                    =>
                                    <!-- skin to get from a trade -->
                                    [<%= shortcuts[item.nextQuality] %>]
                                       <%= item.nextInstance.targetedSkin.name %> |
                                          <%= item.nextInstance.targetedSkin.skin %>
                                             <% let
                                                taxed=item.nextInstance.targetedSkin.prices.floated[item.nextQuality]%>
                                                <% let
                                                   taxedNumber=Math.round(taxed.slice(0,taxed.length-2).replace(',','.')*0.87*100)/100%>
                                                   (<%= taxedNumber %>)
                  </span>
                  <span class="me-2">
                     <span class="text-underline ms-2">


                        <% let win=Math.round( (taxedNumber - item.instance.lowestSkin.price*10)*100)/100 %>
                           <%= win %>zł
                     </span>
                     <span class="text-underline ms-2">
                        <%= item.chance %>%
                     </span>
                     <% if(item.nOfSkins>1){ %>
                        <span class="text-underline ms-2 red">



                           <% let avgLeftSkinsPrice=Math.round( (item.nextInstance.total -taxedNumber)*100)/100
                              /(item.nOfSkins-1) %>
                              <% let lose=Math.round((item.instance.lowestSkin.price*10 - avgLeftSkinsPrice)*100)/100 %>
                                 <%= lose %>

                        </span>
                        <span class="text-underline ms-2 red">
                           <%= 100- item.chance %>%
                        </span>
                        <span class="underline ms-4 perTrade">
                           <%= Math.round( (win*item.chance/100 - lose*(100-item.chance)/100)*100)/100%>
                        </span>
                        <% } %>
                  </span>
               </li>

               <% } %>
         </ul>
      </div>



   </div>

</body>

</html>